<template lang="html">
  <button type="button" class="btn btn-addtocart" @click="addToCart()">
    {{ text }}
  </button>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'ce-btnaddtocart',

  props: [
    'item-id',
    'text'
  ],

  computed: {
    ...mapState([
      'cart'
    ])
  },

  data () {
    return {}
  },

  methods: {
    addToCart () {
      let cart = this.cart

      if (cart.items[this.itemId] === undefined) {
        cart.items[this.itemId] = { quantity: 0 }
      }

      cart.items[this.itemId].quantity++
      this.$store.commit('SET_CART', cart)

      // Redirect to cart page
      window.location = '/gio-hang'
    }
  }
}
</script>

<style lang="css">
</style>
