<template lang="html">
  <span v-show="count > 0" class="badge badge-cartcount">{{ count }}</span>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'ce-cartcount',

  computed: {
    ...mapState([
      'cart'
    ]),

    count: {
      cache: false,
      get () {
        let count = 0

        Object.keys(this.cart.items).forEach(id => {
          count += this.cart.items[id].quantity
        })

        return count
      }
    }
  },

  data () {
    return {}
  }
}
</script>

<style lang="css">
</style>
