<template lang="html">
  <div class="">
    <p v-if="!total" class="text-center">
      Chưa có sản phẩm nào trong giỏ hàng.
    </p>

    <div v-else>
      <table class="table carttable" :class="{ 'showcontrollers': showControllers }">
          <thead v-if="showControllers">
              <tr>
                <!-- Default -->
                <th colspan="2">Sản phẩm</th>
                <th>Số lượng</th>
                <th>Đơn giá</th>
                <th>Thành tiền</th>
                <th></th>
              </tr>
          </thead>
        <tbody>
          <tr v-for="(item, id) in cart.items">
            <td v-if="showControllers"><img style="width: 100px" :src="asset(productsById[id].images[0])" /></td>
            <td>{{ productsById[id].name }}</td>
            <td>
              <div class="input-group" v-if="showControllers">
                <div class="input-group-addon btn" @click="minusItem(id)" :class="{ 'disabled': item.quantity === 1 }"><i class="fa fa-minus"></i></div>
                <div class="input-group-addon">{{ item.quantity }}</div>
                <div class="input-group-addon btn" @click="plusItem(id)"><i class="fa fa-plus"></i></div>
              </div>
              <div v-else>
                x{{ item.quantity }}
              </div>
            </td>
            <td>{{ productsById[id].price | moneyFormat }}</td>
            <td>{{ item.quantity * productsById[id].price | moneyFormat }}</td>
            <td v-if="showControllers"><i class="fa fa-times btn" @click="removeItem(id)"></i></td>
          </tr>

          <tr>
            <th v-if="showControllers" colspan="4">Tổng tiền</th>
            <th v-else colspan="3">Tổng tiền</th>
            <th class="text-red">{{ total | moneyFormat }}</th>
            <th></th>
          </tr>
        </tbody>
      </table>

      <div v-if="showControllers" class="text-center">
        <a :href="checkoutUrl" class="btn btn-primary">Tiến hành đặt hàng</a>
      </div>
      <br />
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'ce-cart',

  props: [
    'show-controllers',
    'checkout-url'
  ],

  computed: {
    ...mapState([
      'cart',
      'products'
    ]),

    productsById: {
      cache: false,
      get () {
        let items = {}

        this.products.forEach(item => {
          items[item.id] = item
        })

        return items
      }
    },

    total: {
      cache: false,
      get () {
        let total = 0

        Object.keys(this.cart.items).forEach(id => {
          total += this.productsById[id].price * this.cart.items[id].quantity
        })

        return total
      }
    }
  },

  data () {
    return {}
  },

  methods: {
    plusItem (itemId) {
      let cart = this.cart

      cart.items[itemId].quantity++
      this.$store.commit('SET_CART', cart)
    },

    minusItem (itemId) {
      let cart = this.cart

      if (cart.items[itemId].quantity == 1) {
        return
      }

      cart.items[itemId].quantity--
      this.$store.commit('SET_CART', cart)
    },

    removeItem (itemId) {
      let cart = this.cart

      delete cart.items[itemId]

      this.$store.commit('SET_CART', cart)
    }
  }
}
</script>

<style lang="css">
.carttable {
  font-size: 0.95em;
}
.carttable.showcontrollers {
  font-size: inherit;
}
</style>
