<template lang="html">
  <div class="">
    <form v-if="!loading" class="" action="index.html" method="post">
      <div class="form-group">
        <label for="">Họ tên</label><span class="text-danger">*</span>
        <input type="text" class="form-control" v-model="inputs.name" />
      </div>

      <div class="form-group">
        <label for="">Số điện thoại</label><span class="text-danger">*</span>
        <input type="text" class="form-control" v-model="inputs.phone" />
      </div>

      <div class="form-group">
        <label for="">Email</label><span class="text-danger">*</span>
        <input type="text" class="form-control" v-model="inputs.email" />
      </div>

      <div class="form-group">
        <label for="">Địa chỉ giao hàng</label><span class="text-danger">*</span>
        <input type="text" class="form-control" v-model="inputs.shipping_address" />
      </div>

      <div class="form-group">
        <label for="">Ghi chú</label>
        <textarea class="form-control" rows="3" v-model="inputs.note"></textarea>
      </div>

      <div class="form-group">
        <label for="">Phương thức thanh toán</label>

        <div v-for="(item, i) in paymentMethods" class="radio">
          <label>
            <input type="radio" :value="item.value" v-model="inputs.payment_method" />
            {{ item.text }}
          </label>
        </div>
      </div>

      <div class="" v-if="inputs.payment_method === 'atmonline'">
        <div class="form-group">
          <label for="">Ngân hàng</label>
        </div>
        <ul class="cardList clearfix">
          <li v-for="(item, i) in bankOptions" class="bank-online-methods">
            <label>
              <i :class="item.icon" :title="item.title"></i>
              <input type="radio" :value="item.value" v-model="inputs.bank_code" />
            </label>
          </li>
        </ul>
      </div>

      <div class="" v-if="inputs.payment_method === 'visa'">
        <div class="form-group">
          <label for="">Loại thẻ</label>
        </div>
        <ul class="cardList clearfix">
          <li class="bank-online-methods">
            <label>
              <i class="VISA" title="VISA"></i>
              <input type="radio" value="VISA" v-model="inputs.bank_code" />
            </label>
          </li>

          <li class="bank-online-methods">
            <label for="">
              <i class="MASTE" title="MASTE"></i>
              <input type="radio" value="MASTER" v-model="inputs.bank_code" />
            </label>
          </li>
        </ul>
      </div>

      <button type="button" class="btn btn-primary" @click="process">Đặt hàng</button>
    </form>

    <div v-if="loading" class="text-center">
      <i class="fa fa-spinner fa-pulse fa-3x fa-fw margin-bottom"></i>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'ce-checkoutform',

  props: [
    'url',
    'cart-url',
    'gotopayment-url',
    'success-checkout-url',
    'nlpm'
  ],

  mounted () {
    if (Object.keys(this.cart.items).length == 0) {
      window.location = this.cartUrl
    }
  },

  computed: {
    ...mapState([
      'cart'
    ]),

    bankOptions () {
      return [
        { "value": "BIDV", "icon": "BIDV", "title": "Ngân hàng TMCP Đầu tư & Phát triển Việt Nam"},
        { "value": "VCB", "icon": "VCB", "title": "Ngân hàng TMCP Ngoại Thương Việt Nam"},
        { "value": "DAB", "icon": "DAB", "title": "Ngân hàng Đông Á"},
        { "value": "TCB", "icon": "TCB", "title": "Ngân hàng Kỹ Thương"},
        { "value": "MB", "icon": "MB", "title": "Ngân hàng Quân Đội"},
        { "value": "VIB", "icon": "VIB", "title": "Ngân hàng Quốc tế"},
        { "value": "ICB", "icon": "ICB", "title": "Ngân hàng Công Thương Việt Nam"},
        { "value": "EXB", "icon": "EXB", "title": "Ngân hàng Xuất Nhập Khẩu"},
        { "value": "ACB", "icon": "ACB", "title": "Ngân hàng Á Châu"},
        { "value": "HDB", "icon": "HDB", "title": "Ngân hàng Phát triển Nhà TPHCM"},
        { "value": "MSB", "icon": "MSB", "title": "Ngân hàng Hàng Hải"},
        { "value": "NVB", "icon": "NVB", "title": "Ngân hàng Nam Việt"},
        { "value": "VAB", "icon": "VAB", "title": "Ngân hàng Việt Á"},
        { "value": "VPB", "icon": "VPB", "title": "Ngân Hàng Việt Nam Thịnh Vượng"},
        { "value": "SCB", "icon": "SCB", "title": "Ngân hàng Sài Gòn Thương tín"},
        { "value": "PGB", "icon": "PGB", "title": "Ngân hàng Xăng dầu Petrolimex"},
        { "value": "GPB", "icon": "GPB", "title": "Ngân hàng TMCP Dầu khí Toàn Cầu"},
        { "value": "AGB", "icon": "AGB", "title": "Ngân hàng Nông nghiệp & Phát triển nông thôn"},
        { "value": "SGB", "icon": "SGB", "title": "Ngân hàng Sài Gòn Công Thương"},
        { "value": "BAB", "icon": "BAB", "title": "Ngân hàng Bắc Á"},
        { "value": "TPB", "icon": "TPB", "title": "Tền phong bank"},
        { "value": "NAB", "icon": "NAB", "title": "Ngân hàng Nam Á"},
        { "value": "SHB", "icon": "SHB", "title": "Ngân hàng TMCP Sài Gòn - Hà Nội (SHB)"},
        { "value": "OJB", "icon": "OJB", "title": "Ngân hàng TMCP Đại Dương (OceanBank)"}
      ]
    },

    paymentMethods () {
      let paymentMethods = [
        { value: 'cod', text: 'Trả tiền mặt (Khi nhận hàng)' }
      ]

      if (this.nlpm == 1) {
        paymentMethods = [
          { value: 'cod', text: 'Trả tiền mặt (Khi nhận hàng)' },
          { value: 'atmonline', text: 'Thanh toán online bằng thẻ ngân hàng nội địa.' },
          { value: 'visa', text: 'Thẻ VISA hoặc MasterCard' }
        ]
      }

      return paymentMethods
    }
  },

  data () {
    return {
      loading: false,
      inputs: {
        name: '',
        phone: '',
        email: '',
        shipping_address: '',
        note: '',
        payment_method: 'cod',
        bank_code: ''
      }
    }
  },

  watch: {
    'inputs.payment_method' (newValue) {
      this.inputs.bank_code = ''
    }
  },

  methods: {
    process () {
      // Validate
      if (!this.validate()) {
        return
      }

      // Check url
      if (this.url.length == 0) {
        console.log('Missing ajax url')
        return
      }

      this.loading = true

      // Prepare data
      let inputs = this.inputs
      inputs.items = this.cart.items

      // Send data
      window.axios({
        method: 'post',
        url: this.url,
        data: this.inputs
      })
      .then(response => {
        this.loading = false

        if (response.data.length == 0) {
          alert('Lỗi server!')
          return
        }

        // Clear cart
        this.$store.dispatch('clearCart')

        // Redirect if payment cod
        if (this.inputs.payment_method == 'cod') {
          window.location = this.successCheckoutUrl + '?code=' + response.data
          return
        }

        // Redirect to charge page
        window.location = this.gotopaymentUrl + '?code=' + response.data
        return
      })
      .catch(error => {
        this.loading = false

        if (error.response.status != 422) {
          alert('Lỗi server!')
          return
        }

        alert(error.response.data.message)
      })
    },

    validate () {
      if (this.inputs.name.length == 0) {
        alert('Bạn cần nhập họ tên!')
        return false
      }

      if (this.inputs.email.length == 0) {
        alert('Bạn cần nhập email!')
        return false
      }

      if (this.inputs.phone.length == 0) {
        alert('Bạn cần nhập số điện thoại!')
        return false
      }

      if (this.inputs.shipping_address.length == 0) {
        alert('Bạn cần nhập địa chỉ giao hàng!')
        return false
      }

      if (this.inputs.payment_method == 'atmonline' && this.inputs.bank_code.length == 0) {
        alert('Bạn cần chọn ngân hàng!')
        return false
      }

      return true
    }
  }
}
</script>

<style lang="css">
ul.cardList
{
  list-style: none;
  padding: 0;
}

ul.cardList li
{
  cursor: pointer;
  float: left;
  margin-right: 0;
  padding: 5px 4px;
  text-align: center;
  width: 90px;
}

i.VISA, i.MASTE, i.AMREX, i.JCB, i.VCB, i.TCB, i.MB, i.VIB, i.ICB, i.EXB, i.ACB, i.HDB, i.MSB, i.NVB, i.DAB, i.SHB, i.OJB, i.SEA, i.TPB, i.PGB, i.BIDV, i.AGB, i.SCB, i.VPB, i.VAB, i.GPB, i.SGB,i.NAB,i.BAB
{
  width:80px;
  height:30px;
  display:block;
  background:url(https://www.nganluong.vn/webskins/skins/nganluong/checkout/version3/images/bank_logo.png) no-repeat;
}

i.MASTE { background-position:0px -31px}
i.AMREX { background-position:0px -62px}
i.JCB { background-position:0px -93px;}
i.VCB { background-position:0px -124px;}
i.TCB { background-position:0px -155px;}
i.MB { background-position:0px -186px;}
i.VIB { background-position:0px -217px;}
i.ICB { background-position:0px -248px;}
i.EXB { background-position:0px -279px;}
i.ACB { background-position:0px -310px;}
i.HDB { background-position:0px -341px;}
i.MSB { background-position:0px -372px;}
i.NVB { background-position:0px -403px;}
i.DAB { background-position:0px -434px;}
i.SHB { background-position:0px -465px;}
i.OJB { background-position:0px -496px;}
i.SEA { background-position:0px -527px;}
i.TPB { background-position:0px -558px;}
i.PGB { background-position:0px -589px;}
i.BIDV { background-position:0px -620px;}
i.AGB { background-position:0px -651px;}
i.SCB { background-position:0px -682px;}
i.VPB { background-position:0px -713px;}
i.VAB { background-position:0px -744px;}
i.GPB { background-position:0px -775px;}
i.SGB { background-position:0px -806px;}
i.NAB { background-position:0px -837px;}
i.BAB { background-position:0px -868px;}
</style>
