<template lang="html">
  <div class="">
    <form v-if="!loading" class="" action="index.html" method="post">
      <div class="form-group">
        <label for="">Ngân hàng</label><span class="text-danger">*</span>
      </div>
      <ul class="cardList clearfix">
        <li v-for="(item, bankCode) in bankOptions">
          <label>
            <i :class="bankCode" :title="item.bankName"></i>
            <input type="radio" :value="bankCode" v-model="inputs.bank_code" />
          </label>
        </li>
      </ul>

      <div class="form-group">
        <label for="">Loại thẻ</label><span class="text-danger">*</span>
      </div>
      <ul class="cardList clearfix" v-if="inputs.bank_code !== ''">
        <li v-for="(item, i) in bankOptions[inputs.bank_code].paymentMethods">
          <label>
            <i :class="item.paymentMethod" :title="item.paymentMethod"></i>
            <input type="radio" :value="item.paymentMethod" v-model="inputs.card_type" />
          </label>
        </li>
      </ul>

      <div v-if="inputs.bank_code !== '' && inputs.card_type !== ''" class="form-group">
        <label for="">Số tháng trả góp</label><span class="text-danger">*</span>
        <select class="form-control" v-model="inputs.period">
          <option v-for="(item, month) in bankOptions[inputs.bank_code].paymentMethods[inputs.card_type].periods" :value="month">{{ month }} tháng</option>
        </select>
      </div>

      <div v-if="inputs.bank_code !== '' && inputs.card_type !== '' && inputs.period !== ''">
        <div class="form-group">
          <label>Số tiền góp mỗi tháng:</label>
          <div class="form-control">
            <strong class="text-danger">{{ bankOptions[inputs.bank_code].paymentMethods[inputs.card_type].periods[inputs.period].amountByMonth | moneyFormat }}đ</strong>
          </div>
        </div>

        <div class="form-group">
          <label>Tổng tiền trả góp:</label>
          <div class="form-control">
            <strong class="text-danger">{{ bankOptions[inputs.bank_code].paymentMethods[inputs.card_type].periods[inputs.period].amountFinal | moneyFormat }}đ</strong>
          </div>
        </div>
      </div>
      <br />

      <div class="form-group">
        <label for="">Họ tên</label><span class="text-danger">*</span>
        <input type="text" class="form-control" v-model="inputs.name" />
      </div>

      <div class="form-group">
        <label for="">Số điện thoại</label><span class="text-danger">*</span>
        <input type="text" class="form-control" v-model="inputs.phone" />
      </div>

      <div class="form-group">
        <label for="">Email</label><span class="text-danger">*</span>
        <input type="text" class="form-control" v-model="inputs.email" />
      </div>

      <div class="form-group">
        <label for="">Địa chỉ giao hàng</label><span class="text-danger">*</span>
        <input type="text" class="form-control" v-model="inputs.shipping_address" />
      </div>

      <div class="form-group">
        <label for="">Ghi chú</label>
        <textarea class="form-control" rows="3" v-model="inputs.note"></textarea>
      </div>

      <button type="button" class="btn btn-primary" @click="process">Thanh toán</button>
    </form>

    <div v-if="loading" class="text-center">
      <i class="fa fa-spinner fa-pulse fa-3x fa-fw margin-bottom"></i>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'ce-installmentform',

  props: [
    'url',
    'gotopayment-url',
    'product',
    'options',
  ],

  mounted () {
  },

  computed: {
    bankOptions () {
      let items = {}

      this.options.forEach(item => {
        item.paymentMethods = this.preparePaymentMethods(item.paymentMethods)
        items[item.bankCode] = item
      })

      return items
    }
  },

  data () {
    return {
      loading: false,
      inputs: {
        name: '',
        phone: '',
        email: '',
        shipping_address: '',
        note: '',
        payment_method: 'installment',
        bank_code: '',
        card_type: '',
        period: ''
      }
    }
  },

  watch: {
    'inputs.bank_code' (newValue) {
      this.inputs.card_type = ''
    },

    'inputs.card_type' (newValue) {
      this.inputs.period = ''
    }
  },

  methods: {
    process () {
      // Validate
      if (!this.validate()) {
        return
      }

      // Check url
      if (this.url.length == 0) {
        console.log('Missing ajax url')
        return
      }

      this.loading = true

      // Prepare data
      let inputs = this.inputs
      inputs.items = {
        [this.product]: { quantity: 1 }
      }

      // Send data
      window.axios({
        method: 'post',
        url: this.url,
        data: this.inputs
      })
      .then(response => {
        this.loading = false

        if (response.data.length == 0) {
          alert('Lỗi server!')
          return
        }

        // Redirect to charge page
        window.location = this.gotopaymentUrl + '?code=' + response.data + '&method=' + this.inputs.card_type + '&period=' + this.inputs.period
        return
      })
      .catch(error => {
        this.loading = false

        if (error.response.status != 422) {
          alert('Lỗi server!')
          return
        }

        alert(error.response.data.message)
      })
    },

    validate () {
      if (this.inputs.bank_code.length == 0) {
        alert('Bạn cần chọn ngân hàng!')
        return false
      }

      if (this.inputs.card_type.length == 0) {
        alert('Bạn cần chọn loại thẻ!')
        return false
      }

      if (this.inputs.period.length == 0) {
        alert('Bạn cần chọn số tháng trả góp!')
        return false
      }

      if (this.inputs.name.length == 0) {
        alert('Bạn cần nhập họ tên!')
        return false
      }

      if (this.inputs.email.length == 0) {
        alert('Bạn cần nhập email!')
        return false
      }

      if (this.inputs.phone.length == 0) {
        alert('Bạn cần nhập số điện thoại!')
        return false
      }

      if (this.inputs.shipping_address.length == 0) {
        alert('Bạn cần nhập địa chỉ giao hàng!')
        return false
      }

      return true
    },

    preparePaymentMethods (paymentMethods) {
      let items = {}

      paymentMethods.forEach(item => {
        item.periods = this.preparePeriods(item.periods)
        items[item.paymentMethod] = item
      })

      return items
    },

    preparePeriods (periods) {
      let items = {}

      periods.forEach(item => {
        items[item.month] = item
      })

      return items
    }
  }
}
</script>

<style lang="css">
ul.cardList
{
  list-style: none;
  padding: 0;
}

ul.cardList li
{
  cursor: pointer;
  float: left;
  margin-right: 0;
  padding: 5px 4px;
  text-align: center;
  width: 90px;
  height: 60px;
}

i.SC, i.HSBC, i.ANZ, i.SHINHANBANK, i.CTB, i.SCB, i.FE, i.KLB
{
  width: 90px;
  height: 24px;
  display: block;
  margin-top: 4px;
  margin-left: 15px;
  vertical-align: middle;
  background: url("/images/iconbank-2018.png") no-repeat;
  background-size: 160%;
}

i.SC
{
  background-position: 0 -251px;
}
i.HSBC
{
  height: 22px;
  background-position: 0 -176px;
}
i.ANZ
{
  background-position: 0 -228px;
}
i.SHINHANBANK
{
  background-size: 170%;
  background-position: 0 -163px;
}
i.CTB
{
  background-position: 0 -48px;
}
i.SCB
{
  background-size: 180%;
  background-position: -4px -328px;
}
i.FE
{
  background-size: 170%;
  background-position: 0 -335px;
}
i.KLB
{
  background-size: 170%;
  background-position: 0 -430px;
}

i.VISA, i.MASTERCARD,
i.AMREX, i.JCB, i.VCB, i.TECHCOMBANK, i.MB, i.VIB, i.ICB,
i.EXIMBANK, i.ACB, i.HDB, i.MARITIMEBANK, i.NVB, i.DAB, i.SHB,
i.OCB, i.SEABANK, i.TPB, i.PGB, i.BIDV, i.AGB,
i.SACOMBANK, i.VPBANK,
i.VAB, i.GPB, i.SGB,i.NAB,i.BAB
{
  width:80px;
  height:30px;
  display:block;
  background:url("https://www.nganluong.vn/webskins/skins/nganluong/checkout/version3/images/bank_logo.png") no-repeat;
}

i.MASTERCARD { background-position:0px -31px}
i.AMREX { background-position:0px -62px}
i.JCB { background-position:0px -93px;}
i.VCB { background-position:0px -124px;}
i.TECHCOMBANK { background-position:0px -155px;}
i.MB { background-position:0px -186px;}
i.VIB { background-position:0px -217px;}
i.ICB { background-position:0px -248px;}
i.EXIMBANK { background-position:0px -279px;}
i.ACB { background-position:0px -310px;}
i.HDB { background-position:0px -341px;}
i.MARITIMEBANK { background-position:0px -372px;}
i.NVB { background-position:0px -403px;}
i.DAB { background-position:0px -434px;}
i.SHB { background-position:0px -465px;}
i.OCB { background-position:0px -496px;}
i.SEABANK { background-position:0px -527px;}
i.TPB { background-position:0px -558px;}
i.PGB { background-position:0px -589px;}
i.BIDV { background-position:0px -620px;}
i.AGB { background-position:0px -651px;}
i.SACOMBANK { background-position:0px -682px;}
i.VPBANK { background-position:0px -713px;}
i.VAB { background-position:0px -744px;}
i.GPB { background-position:0px -775px;}
i.SGB { background-position:0px -806px;}
i.NAB { background-position:0px -837px;}
i.BAB { background-position:0px -868px;}
</style>
