.btn-addtocart {
  color: #fff;
  text-transform: uppercase;
  background-color: $color-impress;

  @media (min-width: $screen-md-min) and (max-width: 1024px) {
    font-size: 1em;
  }
}

.btn-installmentorder {
  color: #fff;
  text-transform: uppercase;
  background-color: $brand-info;

  @media (min-width: $screen-md-min) and (max-width: 1024px) {
    font-size: 1em;
  }
}
