// SFUGillSans
@font-face {
  font-family: SFUGillSans;
  src: url("/fonts/SFUGillSans.TTF");
}
@font-face {
  font-family: SFUGillSans;
  src: url("/fonts/SFUGillSans-Bold.TTF");
  font-weight: bold;
}
@font-face {
  font-family: SFUGillSans;
  src: url("/fonts/SFUGillSans-BoldItalic.TTF");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: SFUGillSans;
  src: url("/fonts/SFUGillSans-ExtraBold.TTF");
  font-weight: bolder;
}
@font-face {
  font-family: SFUGillSans;
  src: url("/fonts/SFUGillSans-Italic.TTF");
  font-style: italic;
}
@font-face {
  font-family: SFUGillSans;
  src: url("/fonts/SFUGillSans-Light.TTF");
  font-weight: lighter;
}

// UTMCentur
@font-face {
  font-family: UTMCentur;
  src: url("/fonts/UTMCentur.ttf");
}
@font-face {
  font-family: UTMCentur;
  src: url("/fonts/UTMCentur-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: UTMCentur;
  src: url("/fonts/UTMCentur-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: UTMCentur;
  src: url("/fonts/UTMCentur-Italic.ttf");
  font-style: italic;
}
