@media (max-width: $screen-sm) {
  .module.footer {
    margin: 0;
    height: calc((100vw - 60px) / 1900 * 964);

    .social {
      height: auto;
      .linkswrapper {
        text-align: center;
        .item {
          font-size: 3em;
        }
      }
    }
  }

  .mobile {
    .module.search {
      display: block;
      margin: 0 15px;
      
      .title {
        display: none;
      }
    }
  }
}
