.module.categoryshortcuts {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 0.8em;

  li {
    width: calc((100% - 90px) / 10);
    text-align: center;
    float: left;
    margin: 12px 5px 15px;
    background-color: $brand-primary;
    border-radius: $border-radius-base;

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }

    a {
      display: block;
      padding: 10px 0;
    }
    a, a:hover {
      text-decoration: none;
      color: $text-color-lighten;
    }
  }
}

.module.contact, .module.brands, .module.search {
  text-align: center;
  border-radius: $border-radius-base;
  background-color: $color-wall;

  .title {
    color: #fff;
    font-weight: bold;
    padding: 10px;
    background-color: $brand-primary;
    border-top-left-radius: $border-radius-base;
    border-top-right-radius: $border-radius-base;
    margin: 0;
  }
}

.module.contact {
  .hotline, .items, .sociallinks, .paymentmethods {
    padding: 10px;
    margin: 20px 0;
  }

  .hotline {
    .number {
      color: red;
      font-size: 1.4em;
    }
  }

  .items {
    color: $brand-primary;
  }

  .sociallinks {
    .item {
      font-size: 1.5em;
      margin: 5px;
    }
  }

  .paymentmethods {
    .item {
      margin: 5px 0px;
      width: 44%;
    }
  }
}

.module.brands {
  padding-bottom: 10px;
  .item {
    margin: 20px;
  }
}

.module.slides {
  .item {
    .carousel-caption {
      color: darken($text-color, 70%);
      left: 60%;
      top: 8%;
      width: 26%;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    }
  }

  .carousel-control {
    .fa-angle-left, .fa-angle-right {
      top: 50%;
      position: absolute;
      font-size: 4em;
    }
  }
}

.module.footer {
  height: 693px;
  background-size: contain;
  padding-top: 4%;

  .title, .text {
    text-align: center;
    color: $text-color-lighten;
  }
  .title {
    font-weight: bold;
    font-size: 4em;
    font-family: $font-family-sans-serif;
  }
  .text {
    padding: 5px 10px;
  }

  .social {
    height: 60%;
    .subcribebox {
      .input-group-addon, .form-control {
        background-color: $brand-primary-darken;
        color: $text-color-lighten;
        border: 3px solid $brand-primary-darken;
      }
      .input-group-addon {
        font-weight: bold;
        font-size: 1.4em;
        cursor: pointer;
      }
      .form-control {
        background-color: transparent;
        height: 46px;
      }
    }

    .linkswrapper {
      .item {
        font-size: 3.3em;
        color: $brand-primary-darken;
        margin: 0 5px;
      }
    }
  }

  .bottom {
    .copyright {
      color: $text-color-lighten;
      font-weight: bold;
      margin: 22px 0;
      padding: 14px 0;
    }
  }
}

.mobile {
  .module.search {
    display: none;
  }
}

.module.product_general_note {
  h2.title {
    font-size: 1.2em;
  }
}

@media (min-width: $screen-md-min) and (max-width: 1024px) {
  .module.footer {
    height: calc((100vw - 60px) / 1900 * 964);

    .social {
      height: 50%;
    }
  }
}
