@media (max-width: $screen-xs) {
  .module.footer {
    height: auto;
    padding: 0;

    .title {
      font-weight: bold;
      font-size: 2em;
      font-family: $font-family-sans-serif;
    }

    .social {
      height: auto;
      .subcribebox {
        display: none;
      }

      .linkswrapper {
        text-align: center;
        .item {
          font-size: 2.5em;
          color: #fff;
          margin: 0 10px;
        }
      }
    }

    .bottom {
      margin-top: 25px;
      background-color: $brand-primary-darken;

      .bottom-links {
        display: none;
      }

      .copyright {
        color: $text-color-lighten;
        font-weight: bold;
        margin: 0;
        padding: 12px 0;
      }
    }
  }
}
