// Default navbar
.navbar-default {
  background-color: transparent;
  border-color: transparent;
  position: absolute;
  width: 100%;
  margin-top: 22px;

  .navbar-header {
    .sitename {
      display: none;
    }
    .btn-cart {
      display: none;
    }
  }

  .navbar-collapse {
    padding: 0 100px;
  }

  .navbar-nav {
    &.navbar-left, &.navbar-bottom {
      > li > a {
        color: $navbar-left-link-color;
        text-transform: uppercase;
        font-weight: bold;
      }
      > li {
        .active-icon {
          display: none;
        }
      }
      > li.active {
        .active-icon {
          display: block;
          margin: -16px 14px;
          height: 30px;
          background: url('/images/icon-active.png') repeat-x;
        }
      }
    }

    &.navbar-right {
      margin-right: 0;
      > li > a {
        color: $navbar-right-link-color;
        font-weight: normal;
        text-transform: inherit;
      }
    }

    &.navbar-bottom {
      float: right;
    }

    > li.active {
      a, a:hover, a:focus {
        color: $navbar-left-link-color;
        background-color: inherit;
      }
    }
  }
}

.navbar-nav {
  > li.dot > a {
    color: #826b60 !important;
    font-size: 20px;
    padding-left: 0;
    padding-right: 0;

    &:hover {
      color: #826b60 !important;
    }
  }
}
