@media (max-width: $screen-xs) {
  // Default navbar
  .navbar-default {
    position: relative;

    .navbar-header {
      .sitename {
        display: block;
        margin-top: 0;
      }
      .btn-cart {
        display: block;
        font-size: 2em;
        padding: 9px 10px;
      }
    }

    .navbar-collapse {
      padding: 0;
    }

    .navbar-nav {
      &.navbar-left,
      &.navbar-bottom {
        > li.active {
          .active-icon {
            display: none;
          }
        }
      }

      &.navbar-right {
        display: none;
      }
    }
  }

  header {
    .navbar-default {
      .navbar-nav.navbar-left {
        margin-left: -6px;
      }
    }
  }
}
