section.banner {
  min-height: 120px;
  background-color: $color-wall;
}

section.content {
  h1.page-heading {
    text-transform: uppercase;
    font-weight: bold;
    border-top: 1px solid $brand-primary;
    border-bottom: 1px solid $brand-primary;
    margin: 0 0 15px;
    font-size: 2.2em;
    padding: 5px 0;
  }
}

section.category-items {
  .item {
    padding: 10px 15px;
    border-radius: $border-radius-base;
    margin-bottom: 15px;
    height: calc(33.3% * 254 / 450);

    a, a:hover {
      color: $text-color;
    }
    h2 {
      font-size: 1.5em;
      font-weight: bold;
      margin: 10px 0;
    }
    ul {
      list-style-type: none;
      padding: 0;
    }
  }
}

section.product-items {
  a, a:hover {
    text-decoration: none;
  }

  .item {
    text-align: center;

    @media (min-width: $screen-md-min) and (max-width: 1024px) {
      margin-right: 10px;
    }

    img {
      display: block;
      width: 80%;
      margin: auto;
    }
  }

  &.grid {
    .item {
      border-radius: $border-radius-base;
      padding: 10px;
      margin-bottom: 15px;
      background-color: #f5f4f3;
      color: $text-color;

      img {
        width: 80%;
      }

      h3.title {
        height: 32px;
        margin: 10px 0;
        font-weight: bold;
        font-size: 1em;
      }

      .price {
        font-weight: bold;
        font-size: 1.2em;
      }
    }
  }

  &.list {
    .item {
      img {
        width: 75%;
      }
      h3.title {
        text-align: left;
        font-weight: bold;
        font-size: 1.3em;
        margin-top: 0;
        color: $text-color;
      }
      .price {
        font-weight: bold;
        font-size: 1.3em;
      }
      .btn-addtocart {
        background-color: $color-red;
        color: #fff;
      }
    }
  }
}

h2.section-title {
  text-align: center;
  color: #eee;
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 10px;
  background-color: $brand-primary;
  border-radius: $border-radius-base;
  padding: 10px;
  margin: 10px 0;
}

section.product-detail {
  background-color: #f7f7f8;
  border-top-left-radius: $border-radius-base;
  border-top-right-radius: $border-radius-base;

  h1.name {
    background-color: #f5f4f3;
    padding: 15px 30px;
    font-weight: bold;
    font-size: 1.3em;
    font-family: $font-family-sans-serif;
    margin-top: 0;
    margin-left: -15px;
    margin-right: -15px;
    border-top-left-radius: $border-radius-base;
    border-top-right-radius: $border-radius-base;
  }

  img.image {
    display: block;
    margin: auto;
    width: 80%;
  }

  // .price {
  //   font-size: 2em;
  //   font-weight: bold;
  //   color: $color-impress;
  // }

  .brand {
    img {
      height: 35px;
      width: auto;
    }
  }

  .include {
    color: #387ec5;
    font-weight: bold;
    font-size: 0.9em;
  }

  .description-short {
    h2.name {
      font-size: 1.2em;
    }
  }
}

section.related-products {
  .wrapper {
    padding: 0 30px;
  }

  .item {
    padding: 15px;
    margin-bottom: 5px;
    border: 1px solid #ccc;

    .price {
      font-size: 1em;
    }
  }
}

section.description-full {
  padding: 15px 30px;

  // For ipad
  @media (min-width: $screen-md-min) and (max-width: 1024px) {
    table {
      max-width: 56vw;
    }
  }
}
