@media (max-width: $screen-sm) {
  section.banner {
    margin: 0 0 20px;
  }

  main {
    #col-left,
    #col-right,
    .module.categoryshortcuts {
      display: none;
    }
  }

  section.category-items {
    .item {
      height: 159px;
      ul {
        display: none;
      }
      h2 {
        font-size: 1.3em;
      }
    }
  }

  section#slides-bottom {
    padding: 0 15px;
  }

  section.description-full {
    table {
      max-width: 88vw;
    }
  }
}
