@media (max-width: $screen-xs) {
  section.banner {
    margin: 0 0 20px;
    min-height: 0;
  }

  section.content {
    min-height: 500px;
  }

  section.category-items {
    .item {
      height: 30vw;
      h2 {
        font-size: 0.8em;
      }
    }
  }

  section#slides-bottom {
    display: none;
  }

  section.product-items {
    &.list {
      .item {
        margin: 0;
        .price {
          text-align: left;
        }
        .btn-addtocart {
          display: none;
        }
      }
    }
  }

  section.description-full {
    margin: 0;
    table {
      max-width: 74vw;
    }
  }

  .carttable {
    font-size: 0.9em !important;
    img {
      max-width: 50px;
    }
  }
}
