.clickable {
  cursor: pointer;
}

.price {
  font-size: 2em;
  font-weight: bold;
  color: $color-impress;
}

.badge.badge-cartcount {
  background-color: $color-red;
  min-width: 5px;
  padding: 2px 4px;
  font-size: 10px;
  margin-top: -10px;
  margin-left: 3px;
}

.text-red {
  color: $color-red;
}
