
// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;
$border-radius-base: 5px;
$border-radius-large: 7px;

// Brands
$brand-primary: #948175;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;
$brand-primary-darken: #1d140e;// darken($brand-primary, 40%);

// Colors
$color-wall: #dfdddd;
$color-impress: #f19224;
$color-red: #db1b1c;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "SFUGillSans", sans-serif;
$font-family-serif: "UTMCentur", serif;
$font-family-base: $font-family-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;
$text-color-lighten: lighten($text-color, 60%);
$navbar-left-link-color: #1d120f;
$navbar-right-link-color: #8c5e44;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);
$input-border-radius: 0;

// Panels
$panel-default-heading-bg: #fff;

//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width: 30px !default;

// Large screen / wide desktop
$container-large-desktop: (1336px + $grid-gutter-width) !default;

//** Horizontal line color.
$hr-border: $brand-primary;
