
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import "fonts";

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// Override
@import "navbar";
@import "navbar_xs";

// Custom
@import "header";
@import "modules";
@import "modules_sm";
@import "modules_xs";
@import "img";
@import "section";
@import "section_sm";
@import "section_xs";
@import "buttons";
@import "stuffs";

@media (min-width: $screen-md-min) and (max-width: 1024px) {
  body {
    font-size: 1em;
  }
}
